/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key

vendor
vendor/bin
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

vendor/bin/carbon
*.php
vendor/autoload.php
vendor/bin/carbon
vendor/bin/doctrine-dbal
vendor/bin/patch-type-declarations
vendor/bin/phpunit
vendor/bin/psysh
vendor/bin/var-dump-server
vendor/bin/yaml-lint
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/dompdf/dompdf/src/Image/Cache.php
vendor/dompdf/dompdf/VERSION
vendor/league/flysystem-local/FallbackMimeTypeDetector.php
vendor/league/flysystem-local/LocalFilesystemAdapter.php
vendor/mobiledetect/mobiledetectlib/composer.json
vendor/mobiledetect/mobiledetectlib/docker-compose.yml
vendor/mobiledetect/mobiledetectlib/docs/CONTRIBUTING.md
vendor/mobiledetect/mobiledetectlib/docs/HISTORY.md
vendor/mobiledetect/mobiledetectlib/docs/ISSUE_TEMPLATE.md
vendor/mobiledetect/mobiledetectlib/docs/KNOWN_LIMITATIONS.md
vendor/mobiledetect/mobiledetectlib/export/exportToJSON.php
vendor/mobiledetect/mobiledetectlib/Mobile_Detect.json
vendor/mobiledetect/mobiledetectlib/Mobile_Detect.php
vendor/mobiledetect/mobiledetectlib/README.md
vendor/phenx/php-font-lib/.github/workflows/phpunit.yml
vendor/phenx/php-font-lib/.htaccess
vendor/phenx/php-font-lib/bower.json
vendor/phenx/php-font-lib/composer.json
vendor/phenx/php-font-lib/index.php
vendor/phenx/php-font-lib/README.md
vendor/phenx/php-font-lib/src/FontLib/AdobeFontMetrics.php
vendor/phenx/php-font-lib/src/FontLib/Autoloader.php
vendor/phenx/php-font-lib/src/FontLib/BinaryStream.php
vendor/phenx/php-font-lib/src/FontLib/EncodingMap.php
vendor/phenx/php-font-lib/src/FontLib/EOT/File.php
vendor/phenx/php-font-lib/src/FontLib/EOT/Header.php
vendor/phenx/php-font-lib/src/FontLib/Font.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/Outline.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/OutlineComponent.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/OutlineComposite.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/OutlineSimple.php
vendor/phenx/php-font-lib/src/FontLib/Header.php
vendor/phenx/php-font-lib/src/FontLib/OpenType/File.php
vendor/phenx/php-font-lib/src/FontLib/OpenType/TableDirectoryEntry.php
vendor/phenx/php-font-lib/src/FontLib/Table/DirectoryEntry.php
vendor/phenx/php-font-lib/src/FontLib/Table/Table.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/cmap.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/glyf.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/head.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/hhea.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/hmtx.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/kern.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/loca.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/maxp.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/name.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/nameRecord.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/os2.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/post.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/Collection.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/File.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/Header.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/TableDirectoryEntry.php
vendor/phenx/php-font-lib/src/FontLib/WOFF/File.php
vendor/phenx/php-font-lib/src/FontLib/WOFF/Header.php
vendor/phenx/php-font-lib/src/FontLib/WOFF/TableDirectoryEntry.php
vendor/phenx/php-svg-lib/src/Svg/Document.php
vendor/phenx/php-svg-lib/src/Svg/Style.php
vendor/phenx/php-svg-lib/src/Svg/Tag/AbstractTag.php
vendor/phenx/php-svg-lib/src/Svg/Tag/Image.php
vendor/phenx/php-svg-lib/src/Svg/Tag/UseTag.php
vendor/sabberworm/php-css-parser/CHANGELOG.md
vendor/sabberworm/php-css-parser/composer.json
vendor/sabberworm/php-css-parser/README.md
vendor/sabberworm/php-css-parser/src/CSSList/AtRuleBlockList.php
vendor/sabberworm/php-css-parser/src/CSSList/CSSList.php
vendor/sabberworm/php-css-parser/src/CSSList/Document.php
vendor/sabberworm/php-css-parser/src/CSSList/KeyFrame.php
vendor/sabberworm/php-css-parser/src/OutputFormat.php
vendor/sabberworm/php-css-parser/src/OutputFormatter.php
vendor/sabberworm/php-css-parser/src/Parser.php
vendor/sabberworm/php-css-parser/src/Parsing/ParserState.php
vendor/sabberworm/php-css-parser/src/Property/Charset.php
vendor/sabberworm/php-css-parser/src/Property/Import.php
vendor/sabberworm/php-css-parser/src/Rule/Rule.php
vendor/sabberworm/php-css-parser/src/RuleSet/AtRuleSet.php
vendor/sabberworm/php-css-parser/src/RuleSet/DeclarationBlock.php
vendor/sabberworm/php-css-parser/src/RuleSet/RuleSet.php
vendor/sabberworm/php-css-parser/src/Settings.php
vendor/sabberworm/php-css-parser/src/Value/CalcFunction.php
vendor/sabberworm/php-css-parser/src/Value/Color.php
vendor/sabberworm/php-css-parser/src/Value/CSSFunction.php
vendor/sabberworm/php-css-parser/src/Value/CSSString.php
vendor/sabberworm/php-css-parser/src/Value/RuleValueList.php
vendor/sabberworm/php-css-parser/src/Value/Size.php
vendor/sabberworm/php-css-parser/src/Value/URL.php
vendor/sabberworm/php-css-parser/src/Value/Value.php
vendor/sabberworm/php-css-parser/src/Value/ValueList.php
vendor/spatie/laravel-permission/composer.json
vendor/spatie/laravel-permission/config/permission.php
vendor/spatie/laravel-permission/database/migrations/add_teams_fields.php.stub
vendor/spatie/laravel-permission/database/migrations/create_permission_tables.php.stub
vendor/spatie/laravel-permission/README.md
vendor/spatie/laravel-permission/src/Commands/CreateRole.php
vendor/spatie/laravel-permission/src/Commands/Show.php
vendor/spatie/laravel-permission/src/Commands/UpgradeForTeams.php
vendor/spatie/laravel-permission/src/Contracts/Permission.php
vendor/spatie/laravel-permission/src/Contracts/Role.php
vendor/spatie/laravel-permission/src/Contracts/Wildcard.php
vendor/spatie/laravel-permission/src/Exceptions/PermissionDoesNotExist.php
vendor/spatie/laravel-permission/src/Exceptions/RoleDoesNotExist.php
vendor/spatie/laravel-permission/src/Exceptions/UnauthorizedException.php
vendor/spatie/laravel-permission/src/Guard.php
vendor/spatie/laravel-permission/src/helpers.php
vendor/spatie/laravel-permission/src/Middlewares/PermissionMiddleware.php
vendor/spatie/laravel-permission/src/Middlewares/RoleMiddleware.php
vendor/spatie/laravel-permission/src/Middlewares/RoleOrPermissionMiddleware.php
vendor/spatie/laravel-permission/src/Models/Permission.php
vendor/spatie/laravel-permission/src/Models/Role.php
vendor/spatie/laravel-permission/src/PermissionRegistrar.php
vendor/spatie/laravel-permission/src/PermissionServiceProvider.php
vendor/spatie/laravel-permission/src/Traits/HasPermissions.php
vendor/spatie/laravel-permission/src/Traits/HasRoles.php
vendor/spatie/laravel-permission/src/WildcardPermission.php
vendor/symfony/polyfill-php83/bootstrap.php
vendor/symfony/polyfill-php83/composer.json
vendor/symfony/polyfill-php83/LICENSE
vendor/symfony/polyfill-php83/Php83.php
vendor/symfony/polyfill-php83/README.md
vendor/autoload.php
vendor/bin/carbon
vendor/bin/doctrine-dbal
vendor/bin/patch-type-declarations
vendor/bin/phpunit
vendor/bin/psysh
vendor/bin/var-dump-server
vendor/bin/yaml-lint
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/dompdf/dompdf/src/Image/Cache.php
vendor/dompdf/dompdf/VERSION
vendor/league/flysystem-local/FallbackMimeTypeDetector.php
vendor/league/flysystem-local/LocalFilesystemAdapter.php
vendor/mobiledetect/mobiledetectlib/composer.json
vendor/mobiledetect/mobiledetectlib/docker-compose.yml
vendor/mobiledetect/mobiledetectlib/docs/CONTRIBUTING.md
vendor/mobiledetect/mobiledetectlib/docs/HISTORY.md
vendor/mobiledetect/mobiledetectlib/docs/ISSUE_TEMPLATE.md
vendor/mobiledetect/mobiledetectlib/docs/KNOWN_LIMITATIONS.md
vendor/mobiledetect/mobiledetectlib/export/exportToJSON.php
vendor/mobiledetect/mobiledetectlib/Mobile_Detect.json
vendor/mobiledetect/mobiledetectlib/Mobile_Detect.php
vendor/mobiledetect/mobiledetectlib/README.md
vendor/phenx/php-font-lib/.github/workflows/phpunit.yml
vendor/phenx/php-font-lib/.htaccess
vendor/phenx/php-font-lib/bower.json
vendor/phenx/php-font-lib/composer.json
vendor/phenx/php-font-lib/index.php
vendor/phenx/php-font-lib/README.md
vendor/phenx/php-font-lib/src/FontLib/AdobeFontMetrics.php
vendor/phenx/php-font-lib/src/FontLib/Autoloader.php
vendor/phenx/php-font-lib/src/FontLib/BinaryStream.php
vendor/phenx/php-font-lib/src/FontLib/EncodingMap.php
vendor/phenx/php-font-lib/src/FontLib/EOT/File.php
vendor/phenx/php-font-lib/src/FontLib/EOT/Header.php
vendor/phenx/php-font-lib/src/FontLib/Font.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/Outline.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/OutlineComponent.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/OutlineComposite.php
vendor/phenx/php-font-lib/src/FontLib/Glyph/OutlineSimple.php
vendor/phenx/php-font-lib/src/FontLib/Header.php
vendor/phenx/php-font-lib/src/FontLib/OpenType/File.php
vendor/phenx/php-font-lib/src/FontLib/OpenType/TableDirectoryEntry.php
vendor/phenx/php-font-lib/src/FontLib/Table/DirectoryEntry.php
vendor/phenx/php-font-lib/src/FontLib/Table/Table.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/cmap.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/glyf.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/head.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/hhea.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/hmtx.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/kern.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/loca.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/maxp.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/name.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/nameRecord.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/os2.php
vendor/phenx/php-font-lib/src/FontLib/Table/Type/post.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/Collection.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/File.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/Header.php
vendor/phenx/php-font-lib/src/FontLib/TrueType/TableDirectoryEntry.php
vendor/phenx/php-font-lib/src/FontLib/WOFF/File.php
vendor/phenx/php-font-lib/src/FontLib/WOFF/Header.php
vendor/phenx/php-font-lib/src/FontLib/WOFF/TableDirectoryEntry.php
vendor/phenx/php-svg-lib/src/Svg/Document.php
vendor/phenx/php-svg-lib/src/Svg/Style.php
vendor/phenx/php-svg-lib/src/Svg/Tag/AbstractTag.php
vendor/phenx/php-svg-lib/src/Svg/Tag/Image.php
vendor/phenx/php-svg-lib/src/Svg/Tag/UseTag.php
vendor/sabberworm/php-css-parser/CHANGELOG.md
vendor/sabberworm/php-css-parser/composer.json
vendor/sabberworm/php-css-parser/README.md
vendor/sabberworm/php-css-parser/src/CSSList/AtRuleBlockList.php
vendor/sabberworm/php-css-parser/src/CSSList/CSSList.php
vendor/sabberworm/php-css-parser/src/CSSList/Document.php
vendor/sabberworm/php-css-parser/src/CSSList/KeyFrame.php
vendor/sabberworm/php-css-parser/src/OutputFormat.php
vendor/sabberworm/php-css-parser/src/OutputFormatter.php
vendor/sabberworm/php-css-parser/src/Parser.php
vendor/sabberworm/php-css-parser/src/Parsing/ParserState.php
vendor/sabberworm/php-css-parser/src/Property/Charset.php
vendor/sabberworm/php-css-parser/src/Property/Import.php
vendor/sabberworm/php-css-parser/src/Rule/Rule.php
vendor/sabberworm/php-css-parser/src/RuleSet/AtRuleSet.php
vendor/sabberworm/php-css-parser/src/RuleSet/DeclarationBlock.php
vendor/sabberworm/php-css-parser/src/RuleSet/RuleSet.php
vendor/sabberworm/php-css-parser/src/Settings.php
vendor/sabberworm/php-css-parser/src/Value/CalcFunction.php
vendor/sabberworm/php-css-parser/src/Value/Color.php
vendor/sabberworm/php-css-parser/src/Value/CSSFunction.php
vendor/sabberworm/php-css-parser/src/Value/CSSString.php
vendor/sabberworm/php-css-parser/src/Value/RuleValueList.php
vendor/sabberworm/php-css-parser/src/Value/Size.php
vendor/sabberworm/php-css-parser/src/Value/URL.php
vendor/sabberworm/php-css-parser/src/Value/Value.php
vendor/sabberworm/php-css-parser/src/Value/ValueList.php
vendor/spatie/laravel-permission/composer.json
vendor/spatie/laravel-permission/config/permission.php
vendor/spatie/laravel-permission/database/migrations/add_teams_fields.php.stub
vendor/spatie/laravel-permission/database/migrations/create_permission_tables.php.stub
vendor/spatie/laravel-permission/README.md
vendor/spatie/laravel-permission/src/Commands/CreateRole.php
vendor/spatie/laravel-permission/src/Commands/Show.php
vendor/spatie/laravel-permission/src/Commands/UpgradeForTeams.php
vendor/spatie/laravel-permission/src/Contracts/Permission.php
vendor/spatie/laravel-permission/src/Contracts/Role.php
vendor/spatie/laravel-permission/src/Contracts/Wildcard.php
vendor/spatie/laravel-permission/src/Exceptions/PermissionDoesNotExist.php
vendor/spatie/laravel-permission/src/Exceptions/RoleDoesNotExist.php
vendor/spatie/laravel-permission/src/Exceptions/UnauthorizedException.php
vendor/spatie/laravel-permission/src/Guard.php
vendor/spatie/laravel-permission/src/helpers.php
vendor/spatie/laravel-permission/src/Middlewares/PermissionMiddleware.php
vendor/spatie/laravel-permission/src/Middlewares/RoleMiddleware.php
vendor/spatie/laravel-permission/src/Middlewares/RoleOrPermissionMiddleware.php
vendor/spatie/laravel-permission/src/Models/Permission.php
vendor/spatie/laravel-permission/src/Models/Role.php
vendor/spatie/laravel-permission/src/PermissionRegistrar.php
vendor/spatie/laravel-permission/src/PermissionServiceProvider.php
vendor/spatie/laravel-permission/src/Traits/HasPermissions.php
vendor/spatie/laravel-permission/src/Traits/HasRoles.php
vendor/spatie/laravel-permission/src/WildcardPermission.php
vendor/symfony/polyfill-php83/bootstrap.php
vendor/symfony/polyfill-php83/composer.json
vendor/symfony/polyfill-php83/LICENSE
vendor/symfony/polyfill-php83/Php83.php
vendor/symfony/polyfill-php83/README.md
vendor/sabberworm/php-css-parser/src/Parsing/ParserState.php
